 /* __________contact___________ */

 .contact_container {
     margin-top: -30px;
     height: auto;
 }

 .id_column {
     background-color: #2e4975;
 }

 .tag {
     text-decoration: underline pink;
     font-weight: bolder;
     margin-top: 15px;
     font-size: 40px;
 }

 .id_column h1 {
     color: whitesmoke;
     font-family: 'Courier New', Courier, monospace;
     margin-left: 30px;
 }

 .info h1 {
     color: whitesmoke;
     font-family: 'Courier New', Courier, monospace;
     margin-left: 45px;
     margin-top: 15px;
     font-size: 30px;

 }

 .details {
     background-color: #bbc8dd;
 }

 .heading {
     margin-top: 15px;
     text-decoration: underline pink;
     font-family: 'Courier New', Courier, monospace;
     font-weight: bolder;
     margin-left: 30px;
     font-size: 40px;
 }

 .contact_details input {
     border: none;
     width: 100%;
     padding: 10px;
     font-size: 16px;
     color: black;
     letter-spacing: 1px;
     margin-bottom: 30px;
     border-bottom: 1px solid black;
     background: transparent;
     margin-left: 30px;
     font-family: 'Courier New', Courier, monospace;
 }

 .submit_btn {
     width: 30%;
     margin-left: 35%;
     font-family: 'Courier New', Courier, monospace;
     margin-bottom: 30px;
 }



 /* ----------PortFolio--------- */

 .portfolio_container {
     background-color: rgb(0, 0, 0, 0.467);
     margin-top: -30px;
     height: 100%;

 }

 .h1_portfolio {
     color: white;
     font-family: 'Courier New', Courier, monospace;
     text-decoration: underline pink;
     margin-bottom: 30px;
     margin-left: 3%;
     font-size: 40px;
     margin-top: 20px;
 }


 .project_links {
     margin-left: auto;
     margin-right: auto;
     padding: 30px;
     /* margin-top: -20px; */
 }

 .portfolio_images1 {
    margin-left: 2px;
     box-shadow: 5px 5px 5px 5px lightgray;
 }

 .portfolio_images2 {
    margin-left: 70px;
     box-shadow: 5px 5px 5px 5px lightgray;
 }

 .portfolio_images3 {
     margin-left: 130px;
     box-shadow: 5px 5px 5px 5px lightgray;
 }

 .img_name {
     color: whitesmoke;
     position: absolute;
     top: 17px;
     left: 10px;
 }

 .img_name2 {
     color: whitesmoke;
     position: absolute;
     top: 17px;
     left: 80px;
 }

 .img_name3 {
     color: whitesmoke;
     position: absolute;
     top: 17px;
     left: 160px;
 }


 /* __________________About.css_______________ */

 .about_container {
     background-color:#202020;
     margin-top: -50px;
     height: 100%;
 }


 .about_me h1 {
     font-family: 'Courier New', Courier, monospace;
     font-size: 50px;
     text-decoration: underline pink;
     margin-top: 25px;
     margin-left: 50px;
     color: white;
 }

 .about_me h2 {
     font-family: 'Courier New', Courier, monospace;
     margin-left: 50px;
     color:white;
 }

 .experience_container h1 {
     font-family: 'Courier New', Courier, monospace;
     font-size: 45px;
     text-decoration: underline pink;
     margin-top: 25px;
     margin-left: 50px;
     color: white;
 }

 .company_name {
     margin-left: 10px;
     font-family: 'Courier New', Courier, monospace;
     font-weight: bolder;
     font-size: 30px;
     color: white;
 }

 .experience_container h2 {
     font-family: 'Courier New', Courier, monospace;
     margin-left: 50px;
     color:white;

 }

 .skills_container {
     font-family: 'Courier New', Courier, monospace;
     /* font-weight: 50px; */
     font-size: 45px;
     margin-top: 25px;
     margin-left: 50px;
     text-decoration: underline pink;
     color: white;
 }

 .skills_column {
     margin-left: auto;
     margin-right: auto;
 }

 .skills_icon {
     font-size: 180px;
     color: rgb(113, 222, 191);
     top: 8px;
 }

 .skill_name {
     margin-left: 40px;
     color: white;
     font-size: 25px;
 }


 .Hobbies_container {
     font-size: 40px;
     font-family: 'Courier New', Courier, monospace;
     text-decoration: underline pink;
     margin-left: 50px;
     margin-top: 25px;
     color: white;
 }

 .image_container {
     margin-top: 30px;
     padding: 20px;
 }

 .hobbies {
     margin-left: 30%;
     color: rgb(237, 144, 144);
     margin-top: 3px;
     font-size: 25px;
 }

 .Images {
     margin-left: auto;
     margin-right: auto;
 }

 .hobbies1 {
     margin-left: 42%;
     color: rgb(237, 144, 144);
     margin-top: 10px;
     font-size: 25px;
 }

 /* ____________Info.css____________________ */

 .info_container {
    background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS0Xx-MRinbTy8M9QabkDFNcttjn2z2Jb2AkQ&usqp=CAU');
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: cover;
    margin-top: -20px;
     height: 70vh;
 }

 .me {
    color: whitesmoke;
     font-size: 4rem;
     text-align: center;
 }
 
 .tag{
    color: whitesmoke;
    text-align: center;
    font-size: 2.5rem;
 }

 /* .my_img {
     position: absolute;
     top: -20em;
     left: 41em;
     border-radius: 150px;
     box-shadow: 8px 5px 8px 5px rgb(102, 95, 95);
 } */


 /* ___________Header___________ */


 nav {
     display: grid;
     background-color: black;
     grid-template-columns: 8rem 1.5fr 0.5fr  2.5fr ;
     position: sticky;
     top: 0;
     z-index: 1;
     height: 7rem;
 }

 .name_div{
    grid-column: 2/3;
    display: flex;
    justify-content: center ;
    align-items:center;
 }

 .name_div h1 {
     color: whitesmoke;
     font-size: 30px;
     font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
 }

 .Nav_links{
   grid-column: 4/5;
   display: flex;
   justify-content: center;
   align-items: center;
   justify-content: space-around;
 }

 .header_link {
    color: whitesmoke;
     font-size: 22px;
     font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
 }

 .header_link:hover {
     background-color: slategray;
 }



 /* ________________________ */
/* 
 @media  (max-width:768px) {
    .about_me h1{
      font-size: 30px;
      margin-left: 160px;
     
    }
    .about_me h2{
        font-size: 20px;
        margin-left: 170px;
    }
    .experience_container h1 {
        font-size: 30px;
        margin-left: 160px;
    }
    .company_name{
        margin-left: 160px;
        font-size: 20px;
    }
    .experience_container h2{
        font-size: 15px;
        margin-left: 160px;
    }
    .skills_icon {
        width: 100%;
        font-size: 80px;
    
    }

 } */